body {
  color: #777777;
  font-family: 'Arial', "Helvetica Neue", Helvetica, sans-serif;
  font-size: 15px;
  width: 960px;
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background-color: #ffffff;
}

.main-header {
  background-color: #ffffff;
  border-bottom: 5px solid #cccccc;
}

h1 {
  font-family: 'Georgia', Times, "Times New Roman", serif;
  color: #ffffff;
  background-color: #4aaaa5;
  text-align: center;
  display: inline;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
}

a {
  text-decoration: none;
}

main {
  background-color: #ffffff;
  border-color: #dddddd;
}

footer {
  padding: 20px;
  clear: both;
  background-color: #666666;
  border-top: 8px solid #4aaaa5;
  text-align: center;
}