* {
   box-sizing: border-box;
   text-align: center;
   color: #777777;
   font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

body {
   font-size: 24px;
   line-height: 32px;
   color: #333;
}

header {
   padding: 20px;
   margin-bottom: 20px;
   color: #333;
   background: #ffffff;
}

.main-header {
  background-color: #ffffff;

}

h1 {
   color: #4aaaa5;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

footer {
   padding: 20px;
   clear: both;
   background: #666666;
}